body {
    height: 100vh;
    width: 100vw;
    background: #ffffff;
}
button {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background: #ffffff;
    color: #c76034;
    font-weight: bold;
}
.container {
    width: 250px;
    border: 3px solid #1badba;
    box-shadow: 1px 7px 10px #aaa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 100px auto;
    background: #ffffff;
    text-align: center;
}
h3 {
    font-family: "Sanchez", serif;
}
h5 {
    font-family: "Arimo", sans-serif;
}
h3, h5 {
    color: #c76034;
    margin: 0;
    padding-bottom: 5px;
}
input {
    font-family: "Arimo", sans-serif;
}
.section {
    padding-top: 10px;
}
#tip-display {
    font-family: "Arimo", sans-serif;
    color: #c76034;
}
.title {
    font-family: "Sanchez", serif;
    color: #c76034;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #c76034;
}